.cabecalho {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .cabecalho img {
        width: 15rem;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho img {
        width: 17rem;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho img {
        width: 24rem;
    }
}

@media screen and (min-width: 2560px) {
    .cabecalho img {
        width: 30rem;
    }
}